// Primary Color
$P900: #942b00;
$P800: #9f4300;
$P700: #a65003;
$P600: #ac5d05;
$P500: #af6606;
$P400: #b97a28;
$P300: #c18f4e;
$P200: #d0ae81;
$P100: #e3ceb1;
$P50: #f3ebe0;

// Secondary Color
$S900: #b71016;
$S800: #c61f22;
$S700: #d3262a;
$S600: #e5312f;
$S500: #f43c30;
$S400: #f04d4b;
$S300: #e66f6f;
$S200: #f09797;
$S100: #ffccd1;
$S50: #ffeaed;


