@use "main" as *;


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cardContainer {
  display: flex;
  flex: content;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px 20px;

  &.large {
    flex-flow: column wrap;
  }
  &.small {
    flex-flow: row wrap;
  }
}
